.Outerbox {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgb(225, 225, 225);
	box-sizing: border-box;
}

.Outerbox > h2 {
	text-align: center;
	font-family: Roboto;
	font-size: 1.4vmax;
	border-bottom: 1px solid rgba(21, 21, 21, 0.5);
	width: 20vmax;
	padding: 1vmax;
	margin: 5vmax auto;
	color: rgba(0, 0, 0, 0.7);
}

.searchBox {
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 24;
	padding: 4;
	border-radius: 6px;
}

.searchBox > input[type="text"] {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
	background-color: white;
	border: none;
	color: rgba(0, 0, 0, 0.637);
	padding: 1vmax 2vmax;
	width: 50%;
	outline: none;
	border-radius: 0%;
	font: 300 1.1vmax cursive;
	box-sizing: border-box;
	height: 10;
}

.searchBox > input[type="submit"] {
	outline: none;
	height: 10;
	border-radius: 0%;
	background-color: tomato;
	border: none;
	padding: 1vmax;
	width: 10%;
	font: 300 1.1vmax "Roboto";
	cursor: pointer;
	color: white;
	transition: all 0.5s;
}
.searchBox > input[type="submit"]:hover {
	background-color: #0082f4;
}
