.dashboardBody {
	background-color: rgb(244, 244, 244);
	padding-left: 200px;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
}

.statusBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.dashboardBody {
		margin-left: 0px;
	}
}
